@CHARSET "ISO-8859-1";
.h1{
	font-family:italic;
	text-align:left;
}

	a.link{

text-align:center;
}
.btn
		{
	 	background-color: white;
		color: black;
	 	text-align: center;
	  	font-size: 16px;
		}
		#submission {
  text-align: center;
  }
